h1{
    color: black;
}
.important{
    color:black;
}
.unimportant{
    color: black;
}

.test-box{
    border: 1px solid khaki;
    padding: 1px;
    margin: 20px;
    background-color: khaki; 
}
.sidebar{
float: right;
background-color: khaki;
}